@import "thice.css"; 

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

/* box.modules-center, */
box.modules-left,
box.modules-right {
    /* background-color: rgba(17, 17, 27, 0.7); */
    margin-top: 6px;
    /* border: 1px solid @border; */
    /* border-top: 0px; */
    /* border-bottom-left-radius: 8px; */
    /* border-bottom-right-radius: 8px; */
    margin-left: 12px;
    margin-right: 12px;
    /* padding-left: 4px; */
    /* padding-right: 4px; */
}

window#waybar {
    background: transparent;
    /* background-color: @background; */
    color: @text;
    transition-property: background-color;
    transition-duration: 0.1s;
    /* border-bottom: 1px solid @border; */
}

#window {
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 4px;
    padding-right: 4px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;

    margin-left: 3px;
    margin-right: 3px;
    background-color: @surface;
    border: 1px solid @border;
    color: @text;
    border-radius: 8px;
}

button:hover {
    background: inherit;
    color: @accent;
    border-top: 2px solid @accent;
}

#workspaces button {
    color: @text;
    padding: 0 4px;
}

#workspaces button.focused,
#workspaces button.active {
    background-color: alpha(@surface, 0.3);
    color: @primary;
    border: 1px solid @primary;
}

#workspaces button.urgent {
    background-color: @accent;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
    padding-left: 4px;
    padding-right: 4px;

    margin-left: 3px;
    margin-right: 3px;
    background-color: @surface;
    border: 1px solid @border;
    border-radius: 8px;
    color: @text;
}

#cpu,
#clock,
#pulseaudio,
#network,
#battery,
#backlight {
    color: @text;
    border-bottom: 2px solid @primary;
}

#clock.date {
    color: @secondary;
    border-bottom: 2px solid @secondary;
}

#idle_inhibitor {
    margin-right: 12px;
    color: @success;
}

#idle_inhibitor.activated {
    color: @accent;
}

#custom-vpn {
    color: @secondary;
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
}

#submap {
    color: @info;
    border-bottom: 2px solid @info;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

#battery.warning {
    color: @warning;
    border-bottom: 2px solid @warning;
}

#battery.critical {
    color: @critical;
    border-bottom: 2px solid @critical;
}

